# Report di Validazione `domande_estratte.json`

## Esame: scritto-2023-02-12-soluzione
- *OK*: Numero di domande corretto (24).

## Esame: scritto-2024-12-17-testo
- *OK*: Numero di domande corretto (30).

## Esame: scritto-2025-01-20-testo
- *OK*: Numero di domande corretto (30).
